*{
  font-family: segoe UI, Arial,roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.main{
  width: 100%;
  height: 100vh;
  background-image: url(./images/bg.png);
  background-size: cover;
 background-position: center;
 padding: 10px;
}

.first{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
}

.moto{
font-size: 17.5px;
text-align: center;
margin-bottom: 25px;
}

.second{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.todo{
  font-size: 22px;
  font-weight:700;
  margin-bottom: 25px;
}

.todo-description{
  font-size: 17px;
  margin-bottom: 20px;
}

.third{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
button{
  padding: auto;
  color: white;
  background-color: rgb(254, 166, 28);
  border: none;
  padding: 5px 30px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;


  
}


